@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

#logo {
    text-align: center;
}

#logo-img {
    width: 150px;
    margin-top: 150px;
}

#logo-text {
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 0;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
